<%- include("header") -%> <% if (typeof errorMessage !== "undefined") { %>
<div>
  <p class="errorMessage">
    List '<%=listTitle%>' not created: <%= errorMessage %>
    <a href="/<%= listTitle%>">Check it.</a>
  </p>
</div>
<% } %>

<div class="box" id="heading">
  <h1>All List</h1>
</div>
<div class="box">
  <% listItems.forEach(item => { if (item === "There's no list yet") { %>
  <div class="item">
    <p><%= item%></p>
  </div>
  <% } else {%>
  <div class="item">
    <a class="itemLink" href="/<%= item.name%>"><%= item.name%></a>
  </div>
  <% }})%>
</div>

<div class="box">
  <form class="item" action="/" method="post">
    <input
      type="text"
      name="newList"
      placeholder="New List"
      autocomplete="off"
      required
    />
    <button type="submit" name="list">+</button>
  </form>
</div>

<%- include("footer") -%>
